body{
    font-family: Unbounded;
    color: #333333;
}
.box-shadow{
    background: #FFFFFF;
    box-shadow: 4px 9px 26px rgba(0, 0, 0, 0.15);
    border-radius: 36px;
}
.bg-img{
    background-image: url(../img/4.png);
    background-repeat: no-repeat;
    height: 832px;

}
.card-1{
    background: #FFFFFF;
    border-radius: 32px;
}
.card-2{
    border: 1px solid #B1B1B1;
    border-radius: 32px;    
}
.btn-1{
    background: #FF8A00;
    border-radius: 24px;
}
.btn-2{
    border-radius: 24px;
    border: 1px solid #FF8A00;
}
.btn-3{
    border-radius: 32px;
    border: 1px solid #FF8A00;
}
.bg-1{
    background: #EFEFEF;
    border-radius: 33px;
}
@media (min-width:320px) {
    .card-slide{
        width: 288px;
    }
}
@media (min-width:576px) {
    .card-slide{
        width: 407px;
    }
}
@media (min-width:768px) {
    .card-slide{
        width: 448px;
    }
}
@media (min-width:1200px) {
    .card-slide{
        width: 363px;
    }
}
@media (min-width:1440px) {
    .card-slide{
        width: 430px;
    }
}
.slider {
    position: relative;
    padding: 48px 0 0 0;
}
@media (min-width:375px) {
    .slider{
        margin-left: -9px;
    }
}
@media (min-width:576px) {
    .slider{
        margin-left: -28px;
    }
}
@media (min-width:768px) {
    .slider{
        margin-left: -125px;
    }
}
@media (min-width:992px) {
    .slider{
        margin-left: -19px;
    }
}
@media (min-width:1200px) {
    .slider{
        margin-left: -20px;
    }
}
.slider .slick-arrow{
    position: absolute;
    top: 0;
    margin: -15px 0 0 0;
    z-index: 2;
    font-size: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
    padding: 4px;
}
.prev{
    left: 81%;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
    transition: ease 0.5s;
}
@media (min-width:576px) {
    .prev{
        left: 86%;
    }
}
@media (min-width:768px) {
    .prev{
        left: 88%;
    }
}
@media (min-width:992px) {
    .prev{
        left: 88%;
    }
}
@media (min-width:1200px) {
    .prev{
        left: 89%;
    }
}
@media (min-width:1440px) {
    .prev{
        left: 90%;
    }
}
.prev:hover{
    background: #EFEFEF;
}
.next{
    left: 93%;
    border: 1px solid #EFEFEF;
    border-radius: 10px;    
    transition: ease 0.5s;
}
.next:hover{
    background: #EFEFEF;
}
@media (min-width:576px) {
    .slider-item{
        height: 390px;
    }
}
@media (min-width:768px) {
    .slider-item{
        height: 480px;
    }
}
@media (min-width:1200px) {
    .slider-item{
        height: 563px;
    }
}
@media (min-width:1440px) {
    .slider-item{
        height: 563px;
        width: 900px;
    }
}
.slider-item-2{
    width: 88px;
    height: 72px;
}
.slider-style{
    width: 100%;
}
@media (min-width:576px) {
    .slider-style{
        width: 560px;
    }
}
@media (min-width:768px) {
    .slider-style{
        width: 700px;
    }
}
@media (min-width:1440px) {
    .slider-style{
        width: 900px;
    }
}
.slick-slide{
    padding-right: 21px;
}
.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0 16px 16px 16px;
    color: #373737;
    background-color: #FBFBFB;
    z-index: 10000000000;
}
.contacts__block {
    width: 15.625rem;
    top: -1rem;
    right: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-box-shadow: 0 10px 10px rgb(0 0 0 / 5%);
    box-shadow: 0 10px 10px rgb(0 0 0 / 5%);
}
.prev-2{
    position: relative;
    margin-left: auto;
    right: 90px;
    z-index: 20;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px ;
    transition: ease 0.5s;
    cursor: pointer;
}
@media  (min-width:320px){
    .prev-2{
        top: 152px;
    }
}
@media  (min-width:375px){
    .prev-2{
        top: 189px;
    }
}
@media  (min-width:576px){
    .prev-2{
        top: 362px;
    }
}
@media  (min-width:768px){
    .prev-2{
        top: 452px;
    }
}
@media  (min-width:1200px){
    .prev-2{
        top: 534px;
    }
}
.prev-2:hover{
    background: #EFEFEF;
}
.next-2{
    position: relative;
    bottom: 66px;
    margin-left: auto;
    right: 40px;
    z-index: 20;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px ;
    transition: ease 0.5s;
    cursor: pointer;
}
.next-2:hover{
    background: #EFEFEF;
}
.card-hover{
    transition: border ease 0.5s;
}
.card-hover:hover{
    border: none;
    box-shadow: 6px 7px 25px rgba(0, 0, 0, 0.15);
}
.header-hover{
    transition: ease-in-out 0.1s;
}
.header-hover:hover{
    font-weight: 600;
}
.header-active.link{
    font-weight: 600;
}
.border-hover{
    transition: border 0.2s ease-in-out;
}
.border-hover:hover{
    border-color: #FF8A00;
}
.bg-img2{
    background: url(../img/31.png);
    background-repeat: no-repeat;
    background-position: right;
}
.bg-img3{
    background: url(../img/32.png);
    background-repeat: no-repeat;
    background-position: right;
}
.bg-img4{
    background: url(../img/33.png);
    background-repeat: no-repeat;
    background-position: right;
}
.bg-img-5{
    background: url(../img/34.png);
    background-repeat: no-repeat;
    background-position: right;
}
.bg-img-6{
    background: url(../img/35.png);
    background-repeat: no-repeat;
    background-position: right;
}
.bg-img-7{
    background: url(../img/36.png);
    background-repeat: no-repeat;
    background-position: right;
}
.vdffg{
    background: linear-gradient(91.09deg, #FFFFFF 72.46%, rgba(244, 244, 244, 0.04) 101.9%);;
}
tr:nth-child(2n)  td{
    background: #F5F5F5;
}
table{
    overflow: scroll;
}
.br-36{
    border-radius: 36px;
}
.thanks-cls{
    width: 30px;
}