body{
    font-family: Unbounded;
    color: #333333;
}
.box-shadow{
    background: #FFFFFF;
    box-shadow: 4px 9px 26px rgba(0, 0, 0, 0.15);
    border-radius: 36px;
}
.card-1{
    background: #FFFFFF;
    border-radius: 32px;
}
.card-2{
    border: 1px solid #B1B1B1;
    border-radius: 32px;    
}
.btn-1{
    background: #FF8A00;
    border-radius: 24px;
}
.btn-2{
    border-radius: 24px;
    border: 1px solid #FF8A00;
}
.btn-3{
    border-radius: 32px;
    border: 1px solid #FF8A00;
}
.bg-1{
    background: #EFEFEF;
    border-radius: 33px;
}
.card-slide{
    width: 416px;
}
.slider {
    position: relative;
    padding: 48px 0 0 0;
}
.slider .slick-arrow{
    position: absolute;
    top: 0;
    margin: -15px 0 0 0;
    z-index: 2;
    font-size: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
    padding: 4px;
}
.prev{
    left: 90%;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
    transition: ease 0.5s;
}
.prev:hover{
    background: #EFEFEF;
}
.next{
    left: 93%;
    border: 1px solid #EFEFEF;
    border-radius: 10px;    
    transition: ease 0.5s;
}
.next:hover{
    background: #EFEFEF;
}
@media (min-width:576px) {
    .slider-item{
        height: 390px;
    }
}
@media (min-width:768px) {
    .slider-item{
        height: 480px;
    }
}
@media (min-width:1200px) {
    .slider-item{
        height: 624px;
    }
}
.slider-item-2{
    width: 88px;
    height: 72px;
}
.slider-nav{
    padding-top: 16px;
}
.slider-style{
    width: 300px;
}
@media (min-width:576px) {
    .slider-style{
        width: 560px;
    }
}
@media (min-width:768px) {
    .slider-style{
        width: 700px;
    }
}
@media (min-width:1440px) {
    .slider-style{
        width: 900px;
    }
}
.slick-slide{
    padding-right: 21px;
}
.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0 16px 16px 16px;
    color: #373737;
    background-color: #FBFBFB;
    z-index: 1;
}
.contacts__block {
    width: 15.625rem;
    top: -1rem;
    right: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-box-shadow: 0 10px 10px rgb(0 0 0 / 5%);
    box-shadow: 0 10px 10px rgb(0 0 0 / 5%);
}